<header>
	<pre class="ascii logo">                                                                                                                  
--
  /                        _.--._ _.---.__
 /                       .'  .-.'__.-----.\
J                       /    `-'(__--'
|                     .'       `. _ `--._
|                    /            .`--'''`
|                   /           .'   
|                _.'-.         J    
L               /    J         F    
J             .'     F        J     
 L           /      /         /-.    
J           /      /         /   \    
|          /      /         J    |     
|         /      /          /   /   
|        /   /  /          J   /    
|       /   /  /           /-'/
|      /   / -'           /  /    
|     J   / /            / .'      
|     / -'-'   /        /-'        
L    (/|      |        /          
J     /.'   ) | _.--  /            
 L   //     < \/   (  |            
 J  //       `.\    `.`.           
  \//     ___/_\ `-.__`.`._.----'' 
   `.----'      )|`.\)  `-))\-') 
                '   )     ')/
                         '                             </pre>
	<pre class="ascii name">
 
</pre>
</header>
