@font-face {
    font-family: 'Calibri Light';
    font-style: normal;
    font-weight: normal;
    src: local('Calibri Light'), url('https://whitecr0wz.github.io/assets/css/calibril.woff') format('woff');
}
